@charset "utf-8";

body{
	width: 100vw;
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	font-size: 1em;
	font-weight: 400;
	
}
.fotoagenda{
	width: 150px;
	height: 150px;
}
h1{
	color: #66bbff;
}